@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
.card {
  width: 250px;
  background: #f9dbbb;
}
.body label {
  display: flex;
  flex-direction: row;
  gap: 7px;
  margin-left: -20px;
}
.body {
  margin-bottom: 15px;
}
