.nav-link {
  color: #eeeeee !important;
  transition: 0.5s;
}
.nav-link:hover {
  color: #4e6e81 !important;
  border-bottom: 1px solid #4e6e81;
}
.nav-link.active {
  color: #f9dbbb !important;
  border-bottom: 1px solid #f9dbbb;
}
nav > ul {
  list-style: none;
}
